<div class="wrapper">
  <h1>
    <a href="/" title="Currency Converter Home">
      <img src="assets/currency-exchange.svg" alt="" width="36" height="36">
      <span class="title">Black<br>Currency Converter</span>
      <button (click)="$event.preventDefault(); addInputs(1)" title="add new currency input">
        <img src=" assets/plus-circle-fill.svg" alt="" width="20" height="20">
      </button>
      <button (click)="$event.preventDefault(); addInputs(-1)" title="remove currency input">
        <img src=" assets/trash-fill.svg" alt="" width="20" height="20">
      </button>
      <button (click)="$event.preventDefault(); refresh();" title="refresh exchange rates" [disabled]="isRefreshing">
        <img src=" assets/arrow-repeat.svg" alt="" width="20" height="20">
      </button>
    </a>
  </h1>

  <main>

    <ng-container *ngFor="let e of initialInputsCodes; index as i">
      <ng-container *ngIf="i < inputsCount">
        <money-input id="money-input-{{i}}" [currencies]="currencies" [originAmount]="originAmount"
          [converter]="converter" initialCode="{{e}}">
        </money-input>
        <simple-loading-spinner *ngIf="isRefreshing"></simple-loading-spinner>
      </ng-container>
    </ng-container>

    <div class="output-container">
      <!--    
      <simple-currency-list *ngIf="!isLoading" [rates]="newRates" [currencies]="currencies"
        [responseErrorMessage]="responseErrorMessage">
      </simple-currency-list>
        -->
      <simple-currency-list *ngIf="!isRefreshing" [rates]="rates" [currencies]="currencies"
        [originAmount]="originAmount">

      </simple-currency-list>
    </div>

  </main>
  <footer>
    Last Updated: {{ rates.date }} <br> from: {{rates.request}}
  </footer>
</div>